<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Plano</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Detalhes do Pagamento</h1>
        <div class="card">
          <div class="card-header">
            <strong>{{ payment.user.username }}</strong> - {{ payment.plan.name }}
          </div>
          <div class="card-body">
            <p><strong>Status:</strong>
              <span class="badge {% if payment.status == 'pago' %}bg-success{% elif payment.status == 'pendente' %}bg-warning{% else %}bg-danger{% endif %}">
                {{ payment.get_status_display }}
              </span>
            </p>
            <p><strong>Data de Vencimento:</strong> {{ payment.due_date }}</p>
            <p><strong>Data de Pagamento:</strong> {{ payment.payment_date|default:"Não pago" }}</p>
            <p><strong>Valor do Pagamento:</strong> R$ {{ payment.plan.price }}</p>
            <p><strong>Detalhes do Usuário:</strong> {{ payment.user.get_full_name }} - {{ payment.user.email }}</p>
          </div>
          <div class="card-footer text-right">
            <a href="{% url 'payment_list' %}" class="btn btn-secondary">Voltar para a lista</a>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
