<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   <!-- Cabeçalho do site -->
   <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Academia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>
  </header>

  <div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Olá, é bom te ver por aqui</h1>
      <p class="lead">Este é o painel principal. Acesse as seções para visualizar informações dos usuários, planos, pagamentos, entre outros.</p>
      <p class="lead">Seja Bem Vindo(a)</p>
      <a href="{% url 'student_trainings' %}" class="btn btn-primary">Área do Aluno</a>
      <a href="{% url 'instructor_list' %}" class="btn btn-primary">Ver Instrutores</a>
      <a href="{% url 'user_profile_list' 'administrador' %}" class="btn btn-primary">Administradores</a>
      <a href="{% url 'admin_student_list' %}" class="btn btn-primary">Visualizar Alunos</a>
    </div>
  </div>

  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
